/*icon panier*/
.a-basket{
    position: fixed;
    top: 83px;
    left: 20px;
    padding: 5px;
    border-radius: 10%;

    display:flex;
    align-items: center;

    z-index: 300;

    background-color: #0d1a11;
}

/*quand le menu burger est déployé*/
.a-basket-deployed{
    position: fixed;
    top: 167px;
    left: 20px;
    padding: 5px;
    border-radius: 10%;

    display:flex;
    align-items: center;

    z-index: 300;

    background-color: #0d1a11;
}

.a-basket a{
    display: flex;
    align-items: center;

    color: #f2eae4;
}

/*quand le menu burger est déployé*/
.a-basket-deployed a{
    display: flex;
    align-items: center;

    color: #f2eae4;
}

.a-basket a:hover{
    color: #f2eae4;
}
