.div-basket{
    width : 80%;
}

.h-basket{
    width: 100%;
    height: 70px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgb(100, 95, 64);
    border-radius: 10px 10px 0 0;
}

.h-basket h2{
    color: white;
    font-size: 2em;
    text-transform: uppercase;
    font-weight: bold;
}

.content-basket{
    margin-top: 5px;
    margin-bottom: 20px;
    padding-bottom: 10px;

    background-color: rgb(219, 212, 168);

    border-radius: 0 0 10px 10px;

    display: flex;
    flex-direction: column;
}

.products-basket{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

/*les cartes dans le panier*/
.product-basket{
    margin: 10px;
}
.product-basket img{
    width: 200px;
    border-radius: 5px 5px 0 0;
}

.info-basket{
    background-color: white;

    border-radius: 0 0 5px 5px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-basket h2{
    padding-top: 10px;
    margin: 0;
    height: 50px;
    width :100%;
    text-align: center;

    font-size: 1em;
    text-transform: uppercase;
}

.info-basket div{
    padding-bottom: 10px;
    font-size: 1.2em;
}

.empty-basket{
    margin-top: 50px;
    margin-bottom: 50px;

    text-transform: uppercase;
    text-align: center;
}

.line{
    display: block;
    width: 70%;
    border-top: 1px solid #0d1a11;
    align-self: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

/*prix panier*/
.div-total{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.div-total h3{
    display: inline-block;
    text-transform: uppercase;
    font-size: 1.5em;
    width: 100px;
    text-align: center;
}

.div-total span{
    font-size: 1.5em;
}

.btnPopup{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    width: 150px;
    height: 60px;
    margin-right: 20px;
    background-color: white;
    border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer;
}

@media (max-width: 778px){
    /*div et main*/
    .div-basket{
        width: 100%;
    }

    .h-basket, .content-basket{
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        margin-left: 0;

        border-radius: 0;
    }

    .div-total{
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .btnPopup{
        margin-right: 0;
    }
}
