.overlay {
    position: fixed;
    left: 0px;
    top:0px;
    background-color: rgba(0,0 ,0 , 0.5);
    width: 100%;
    height: 100%;
    z-index:301;
    display:none;
}

.popup{
    margin: 20px auto;
    width : 50%;
    background-color: rgb(243, 243, 243);
    padding: 1em;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

.btnClose {
    float: right;
    margin-right: 20px;
    font-size: 2em;
    cursor: pointer;
    color: rgb(26, 26, 26);
}

.popup h2{
    margin-top: 5px;
}

.info-form{
    font-size: 1.2em;
    margin-bottom: 15px;
}

.div-info-contact{
    width: 100%;
    margin-bottom: 10px;
    display: flex;
}

.div-line{
    width: 10%;
    max-width: 20px;
    min-width: 10px;
    margin-right: 10px;
    border-right: 1px solid #0d1a11;
}

.info-write div{
    margin-bottom: 15px;
}

.info-write label{
    font-size: 1em;
    text-transform: uppercase;
}

.info-write input{
    height: 25px;
    width: 80%;
    min-width: 50px;
}

.submit-form{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.submit-form input{
    width: 100px;
    height: 40px;
    margin-top: 10px;
    margin-right: 10px;
    border: 0;
    border-radius: 5px;
    background-color: #0d1a11;
    color: white;
    text-transform: uppercase;
}

@media (max-width: 778px){
    .popup{
        width: 70%;
    }
}