/*div et main*/

.contain-general-garden{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contain-general-garden main{

    width: 80%;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

/*card*/
.card{

    width: 95%;
    min-width: 200px;
    max-width: 300px;
    margin: 10px;

    position : relative;
}

.card img{
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.content-card{
    margin-top: 3px;
    background-color: rgb(219, 212, 168);
    border-radius: 0 0 10px 10px;
}

.price-h-card{
    display: flex;
    flex-direction: column;
}

.price-h-card h2{
    align-self: center;
    margin-top: 5px;
    margin-bottom: 5px;

    text-transform: uppercase;
}

.price-h-card .price{
    padding-right: 20px;
    align-self: flex-end;
    text-decoration: underline;
}

.form-card{
    display: flex;
    justify-content: center;

    padding: 10px;
}

.number{
    width: 60%;

    height: 48px;

    background-color: rgb(250, 245, 214);
    border: 0;
    border-radius: 5px 0 0 5px;
    text-align: center;

}

.button_shop{
    width: 40%;

    height: 50px;

    margin-left: 3px;
    border-radius: 0 5px 5px 0;
    border: 0;
    background-color: rgb(250, 245, 214);

    text-transform: uppercase;
    line-height: 20px;
}

.button_shop:hover{
    border: 2px solid rgb(233, 85, 0);
}

.button_delete{
    width: 97%;

    height: 50px;

    border-radius: 5px;
    border: 0;
    background-color: rgb(163, 53, 53);

    text-transform: uppercase;
    color:rgb(253, 252, 244);
}

.button_delete:hover{
    border: 4px solid rgb(121, 8, 8)
}

/*quand on ajoute sans avoir de valeur dans l'input*/
.add-quantity{
    width: 60%;

    height: 48px;

    background-color: rgb(250, 245, 214);
    border: 2px solid red;
    border-radius: 5px 0 0 5px;
    text-align: center;
}

/*prod ajoutés aux paniers et prod non-disponibles*/
.no-available, .add-basket {
    position : absolute;
    width: 100%;
    height: 100%;
    z-index: 30;
    border-radius: 10px;

    display : flex;
    flex-direction: column;
    align-items: center;
}

.no-available{
    background-color : rgba(56, 59, 57, 0.7);
}

.add-basket{
    background-color : rgba(0, 63, 20, 0.76);
}

.no-available div, .add-basket div{
    margin-top: 30px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 25px;
    color:rgb(250, 245, 214);
}

@media (max-width: 1207px){
    /*div et main*/
    .contain-general-garden main{
        justify-content: space-around;
    }
}

@media (max-width: 778px){
    /*div et main*/
    .contain-general-garden main{
        width: 100%;

        flex-direction: column;
        align-content: center;
    }

    /*card*/
    .card{
        margin: 10px 0 10px 0;
    }

}

@media (max-width: 224px){
    .button_shop{
        line-height: 15px;
        font-size: 0.6 em;
    }
}