.footer-principale{
    width: 100%;
    background-color: #0d1a11;
    bottom:0;

    display : flex;
    flex-direction: column;
    align-items: center;
}

/*navigation du footer*/
.menu-footer{
    width: 100%;
    display: flex;
    justify-content: center;
}

.menu-footer ul{
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

.menu-footer ul li{
    margin: 10px;
}
   
.menu-footer ul li a, .bouton-connexion a{
    text-transform: uppercase;
    padding : 10px;
    text-decoration: none;
    font-size : 1.2em;
    color : #f2eae4;
}

/*span*/
.trait-footer{
    border-top: 1px solid #f2eae4;
    display: inline-block;
    width: 70%;
    min-width: 200px;
    margin-top: 20px;
}

/*bouton de connexion*/
.bouton-connexion{
    margin : 15px;
}