.header-page-principale{
    width: 100%;
    height: 15vw;
    max-height: 600px;
    min-height: 100px;
    background-image: url('../pictures/bandeau-accueil.jpg');
    background-size: cover;
    background-position: bottom;
}

.block-transparence
{
	height: 80%;
	width: 70%;
    max-width: 800px;
    min-width: 200px;
	position: relative;
  	top: 50%; left: 50%;
  	transform: translate(-50%, -50%);

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgba(0, 0, 0, 0.40);
    border-radius: 2px;
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.nom-de-ferme{
    margin: 0;
    font-family: 'Lobster', cursive;
    color : #f2eae4;
    font-size:calc(12px + 5vw);
}