.history-home{
    margin-bottom: 45px;
}

.contain-general-home{
    display : flex;
    justify-content: space-between;
}

.contain-general-home aside, .contain-general-home main{
    padding-left: 20px;
    padding-right: 20px;
}

/*main*/
.contain-general-home main{
    width: 70%;
}

.contain-general-home main h4{
    text-align: center;
    font-family: 'Lobster', cursive;
    font-size: 2em;
}

.p1{
    font-size: 1.1em;
    font-weight: bold;
}

.line-history{
    margin-left: 15%;
    width: 20%;
    max-width: 150px;
    min-width: 80px;
    margin-top: 50px;
    border-top : 1px solid #0d1a11;
    display: inline-block;
}

.p3{
    margin : 0;
    display: flex;
    justify-content: end;
    align-items: center;
}

.p3 p{
    width : 80%;
    font-size : 1.1em;
    font-weight: bold;
    margin: 0;
}

/*aside*/
.h-aside{
    text-transform: uppercase;
    font-size : 1.2em;
    text-align : center;
    margin-bottom: 0;
}

.line-home{
    width : 20%;
    min-width: 60px;
    border-top: 1px solid #0d1a11;
    display: inline-block;
    position: relative;
  	left: 50%;
  	transform: translate(-50%, -50%);
}

.day h4{
    margin: 0;
}

.hour{
    margin-bottom: 10px;
    padding-left: 20px;
}

.phone div{
    text-align: center;
    font-size: 1.1em;
}

.adress div{
    font-size: 1.1em;
}

.close{
    text-transform: uppercase;
}

/*bandeau de fin de page*/
.pictures-home{
    height: 30vw;
    max-height: 450px;
    min-height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.pictures-home div{
    height: 100%;
    width: 100%;
}

.carotte{
    background-image: url('../pictures/accueil-carotte.jpg');
    background-position: center;
    background-size: cover;
}

.potiron{
    background-image: url('../pictures/accueil-potiron.jpg');
    background-position: center;
    background-size: cover;
}

.confiture{
    background-image: url('../pictures/accueil-confiture.jpg');
    background-position: center;
    background-size: cover;
}

.fruits{
    background-image: url('../pictures/accueil-fruits.jpg');
    background-position: center;
    background-size: cover;
}

@media (max-width: 768px) {
    
    .contain-general-home{
        flex-direction: column-reverse;
        align-items: center;
    }

    /*main*/
    .contain-general-home main{
        width: 97%;
        padding: 0;
    }

    .contain-general-home main h4{
        margin-bottom: 15px;
    }

    .history-home{
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .p2, .p1 {
        width: 100%;
        align-self: center;
    }

    .p3{
        width: 100%;
        justify-content: space-evenly;
    }

    .line-history{
        margin-left: 15px;
        justify-self: flex-start;
    }

    /*aside*/
    .contain-general-home aside{
        padding: 0;
        border-bottom: 1px solid #0d1a11;

        display: flex;
        flex-direction: column;
    }

    .adress div{
        text-align: center;
        margin-bottom: 20px;
    }

    .hours-home{
        display : flex;
        flex-direction: column;
    }

    .hours-home, .phone, .adress{
        width : 50%;
        min-width : 218px;
        align-self: center;
    }
  }

