/*nav.css est chargé partout*/
body{
    padding : 0;
    margin : 0;
    font-family: 'Hind Siliguri', sans-serif;
}

/*sur écran large*/

.nav-principale{
    width: 100%;
    position: -webkit-sticky;
    position: sticky;
    top: 0;

    z-index: 300;

    background-color: #0d1a11;
}

.div-nav-principale{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.div-nav-principale ul{
    width: 30%;
    min-width: 200px;

    list-style-type: none;
    padding-left: 0;
    display : flex;
    justify-content: space-around;   
}

.div-nav-principale ul li a{
    text-transform: uppercase;
    padding : 10px;
    text-decoration: none;
    font-size : 1.2em;
    color : #f2eae4;
}


/*sur écran tablette et ordi*/

/*trois traits*/
.menu-icon{
    position: relative; 
    width: 54px;
    height: 54px; 

    margin-left: auto;
    margin-right: auto;
    transition: transform 0.5s;
}

.menu-icon span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%); 

    display: block;
    width: 22px;
    height: 2px;

    background-color: #f2eae4;

}

.menu-icon span::before, .menu-icon span::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-6px);

    display: block;
    width: 22px;
    height: 2px;

    background-color: #f2eae4;

    transition: transform 0.5s;
}

.menu-icon span::after {
    transform: translateY(6px); 
}

/*croix*/
.menu-icon.is-opened span { 
    background: transparent; 
}

.menu-icon.is-opened span::before { 
    transform: translateY(0) rotate(45deg); 
}

.menu-icon.is-opened span::after { 
    transform: translateY(0) rotate(-45deg); 
}

/*ul et li du menu burger*/
.div-nav-menu-burger{
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.div-nav-menu-burger ul{
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

.div-nav-menu-burger ul li{
    margin: 10px;
}

.div-nav-menu-burger ul li a{
    text-transform: uppercase;
    padding : 10px;
    text-decoration: none;
    font-size : 1.2em;
    color : #f2eae4;
}